.route-component {
  width: 85%;
}
.nav-comp-body {
  /* width: 80%; */
}
.comp-head {
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}
.comp-head::after {
  margin-top: 10px;
  content: "";
  display: block;
  height: 3px;
  width: 80px;
  background-color: #f08080;
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.context-comp {
  display: grid;
  /* grid-template-areas: "bollywood post"; */
  grid-template-columns: 65% 35%;
  /* gap: 10px; */
}
.ele-container {
  /* grid-area: bollywood; */
  padding: 10px;
}
.top-posts-container {
  /* grid-area: post; */
  padding: 10px;
}
.elements > img {
  width: 250px;
  aspect-ratio: 16/9;
  object-fit: contain;
  margin: 10px;
}
.elements {
  display: flex;
}
.ele-head {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 25px;
  max-height: 100px;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
  font-family: "Nunito Sans", sans-serif;
}
.ele-desc {
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  display: -webkit-box;
  line-height: 20px;
  max-height: 100px;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
.ele-type {
  font-size: 13px;
  color: #0000007a;
}
.ele-type > span {
  font-weight: bold;
  color: #000000;
}
.ele-parent > hr {
  height: 2px;
  background-color: #c2c2c279;
  border: none;
}
.post-parent > hr {
  height: 2px;
  background-color: #c2c2c279;
  border: none;
}
#ele1 {
  flex-direction: column;
  align-items: center;
}
#ele1 > img {
  width: 360px;
}
#ele1 > div > .ele-head {
  font-size: 18px;
  margin-top: 0;
}
.post-elements > img {
  width: 150px;
}
.post-elements > div > .ele-head {
  font-size: 15px;
  margin-top: 5px;
}
.post-rank {
  font-size: 42px;
  font-weight: bold;
  margin: 10px;
  color: #00000060;
}
#ele1 > .post-rank {
  display: none;
}

.load-more-page {
  margin: 15px;
  cursor: pointer;
}

.load-more-page > svg {
  color: #f08080;
  font-size: 1rem;
}

/* -------------Media Query for Mobiles--------------- */
@media only screen and (min-device-width: 270px) and (max-device-width: 1200px) {
  .blog-ad {
    display: none;
  }
  .context-comp {
    grid-template-columns: auto;
  }
}
@media only screen and (min-device-width: 270px) and (max-device-width: 500px) {
  .route-component {
    width: 95%;
  }
  .comp-head {
    font-size: 1.5em;
    margin: 15px 0;
  }
  .elements > img {
    width: 100px;
  }
  #ele1 > img {
    width: 200px;
  }
  .ele-head {
    margin: 5px 0;
    font-size: 16px;
    line-height: 22px;
  }
  .ele-desc {
    font-size: 12px;
  }
  .ele-type {
    font-size: 11px;
  }
}
